<div style="padding-bottom: 8px;" class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

    <strong>
      <%= message.user.username %>
    </strong>

    <div>
      <%= message.body %>
    </div>

  </div>
</div>